
.goodRegisterBox{
    height:100%;
    display:flex;
    flex-direction: column;
    max-width:600px;
    margin:auto;
    border:1px solid #E5DFDA;
    header{
        width:100%;
        height:50px;
        background:#fff;
        display:flex;
        justify-content:space-around;
        .topLeft{
            width:33%;
            line-height:50px;
            i{
                margin-left:10px;
                font-size:20px;
                color:#000;
            }

        }
        .topLogo{
            width:34%;
            height:32px;
            margin:auto;
            line-height:32px;
            text-align:center;
            span{
               
            }
        }
        .topRight{
            width:33%;                       
            .left{
                float:left;
                width:50%;
                height:100%;
                line-height:50px;
                i{
                    font-size:28px;
                    color:#000;
                }
            }
            .right{
                float:right;
                width:50%;
                height:100%;
                line-height:50px;
                text-align:center;
                i{
                    font-size:20px;
                    margin-top:-10px; 
                    color:#000;              
                }
            }
        }
    }
    section{
        display:flex;
        flex: 1;      
        overflow-x: none;
        overflow: hidden; 
        overflow-y: auto;
        flex-direction: column;
        width:100%;
        background:#f2f2f2;
        .lunbos{
            height:240px;
            background:#fff;
            width:100%;

            .swiper-container{
                height:240px;
                .swiper-wrapper{
                    .swiper-slide{
                        img{
                            height:160px;
                            width:100%;
                        }
                    }
                }
                .swiper-pagination{
                    height:80px;
                    background:-webkit-linear-gradient(bottom,#c8c8c8,rgba(255,255,255,0));
                    line-height:8.15;
                    li{
                        background:#000;
                        opacity:1;
                    }
                    .swiper-pagination-bullet-active{
                        background:#f00;
                    }
                }
            }
        }
        .goodRegName{
            width:100%;
            height:40px;
            padding:15px 0;
            margin-top:60px;
            background:#fff;
            border-bottom:1px solid #e1e1e1; 
            .regNameLeft{
                width:75%;
                height:40px;
                float:left;
                margin-left:10px;
                span{
                    font-size:14px;
                    line-height:1.5;
                    letter-spacing: 2px;
                }
            }
            .regNameRight{
                width:25%;
                height:40px;
                float:right;
                margin-right:-20px;
                .regSpan{
                    display:block;
                    height:40px;
                    width:30px;
                    padding-left:15px;
                    border-left:1px solid #e1e1e1;                   
                    i{
                        font-size:20px;
                    }
                    span{
                        font-size:12px;
                    }
                }
            }
        }
        .goodRegsPrice{
            width:100%;
            height:50px;
            background:#fff;
            border-bottom:1px solid #e1e1e1; 
            .goodRegPrice{
                width:95%;
                height:50px;
                margin:auto;
                background:#fff;               
                display:flex;
                justify-content:space-between;
                div{
                   line-height:50px; 
                }
                .goodRegPrice-shopPrice{                   
                    span{
                        color:red;
                        font-weight:bold;
                    }
                }
                .goodRegPrice-goodsType{
                    span{
                        font-size:12px;
                    }
                }
                .goodRegPrice-salesNum{
                    span{
                        font-size:12px;
                    }
                }
            }
        }

        .goodRegPromiseTag{
            width:100%;
            height:40px;           
            ul{
                width:100%;
                height:40px;
                margin:auto;
                li{
                    width:24%;
                    height:40px;
                    line-height:40px;
                    text-align:center;
                    float:left;
                    i{
                      font-size:12px;  
                    }
                    span{
                        font-size:12px;
                    }
                }
                li:nth-child(1){
                    width:28%;
                }
            }
        }
        .goodRegColor{
            width:100%;
            background:#f0f;
            padding-bottom:5px;
            p{
                margin-left:10px;
                margin-top:10px;
                span{
                    font-size:12px;                    
                } 
            }
            ul{
                height:30px;
                margin-left:10px;
                margin-top:20px;
                li{
                    height:30px;
                    background:#c8c8c8;
                    text-align:center;
                    line-height:30px;
                    float:left;
                    margin-right:10px;
                    margin-bottom:10px;
                    span{
                        display:block;
                        color:#000;
                        font-size:12px;
                        padding:0 5px;
                    }
                } 
                li:nth-child(1){
                    background:#F48F18;
                    span{
                        color:#fff;
                    }
                }
            }
        }
    }
    footer{
        width:100%;
        height:70px;
        background:#f0f;
        width: 100%;
        display:flex;
        border-top:1px solid #E5DFDA;
        .regFooterLeft{
            height:70px;
            flex:1;
            background:#fff;
            display:flex; 
            .regFooterLeft-kf{
                flex:1;
               p{
                    width:100%;
                    text-align:center;  
                    margin-top:15px;
                    i{
                        font-size:18px;
                        font-weight:bold;
                    }
               }
               span{
                    width:100%;
                    text-align:center; 
                    display:block;
                    font-size:12px;
               }
            }
            .regFooterLeft-sc{
                flex:1;
                p{
                    width:100%;
                    text-align:center; 
                    margin-top:15px; 
                    i{
                        font-size:18px;
                        font-weight:bold;
                    } 
                }
               span{
                    width:100%;
                    text-align:center; 
                    display:block;
                    font-size:12px; 
               }
            }
        }
        .regFooterRight{
            height:70px;
            flex:2;
            display:flex; 
            .regFooterRight-gwc{
                flex:1;
                height:70px;
                line-height:70px;
                text-align:center; 
                background:#F48F18;             
                span{
                    display:block;
                    font-size:14px;
                    color:#fff; 
                }
            }
            .regFooterRight-fj{
                flex:1;
                height:70px;
                line-height:70px;
                text-align:center; 
                background:#F4333C;             
                span{
                    display:block;
                    font-size:14px;
                    color:#fff;
                }
            }
        }
    }
}